<div>


	<!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container0">
		<div class="ws_images">
			<ul>
				<li><img src="data0/images/zoopandas.jpg"
					alt="VIsita a nuestros pandas" title="VIsita a nuestros pandas"
					id="wows0_0" /></li>
				<li><a href="http://wowslider.com"><img
						src="data0/images/madrid_zoo.jpg" alt="slider jquery"
						title="Te traemos la sabana a madrid" id="wows0_1" /></a></li>
				<li><img src="data0/images/madridzoologico02gra.jpg"
					alt="Disfruta con nuestros espectaculos"
					title="Disfruta con nuestros espectaculos" id="wows0_2" /></li>
			</ul>
		</div>
		<div class="ws_bullets">
			<div>
				<a href="#" title="VIsita a nuestros pandas"><span><img
						src="data0/tooltips/zoopandas.jpg" alt="VIsita a nuestros pandas" />1</span></a>
				<a href="#" title="Te traemos la sabana a madrid"><span><img
						src="data0/tooltips/madrid_zoo.jpg"
						alt="Te traemos la sabana a madrid" />2</span></a> <a href="#"
					title="Disfruta con nuestros espectaculos"><span><img
						src="data0/tooltips/madridzoologico02gra.jpg"
						alt="Disfruta con nuestros espectaculos" />3</span></a>
			</div>
		</div>
		<div class="ws_script" style="position: absolute; left: -99%">
			<a href="http://wowslider.com">jquery carousel</a> by WOWSlider.com
			v7.9m
		</div>
		<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="engine0/wowslider.js"></script>
	<script type="text/javascript" src="engine0/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

	<div>
	<br>
	<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto 
	de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) 
	desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo 
	sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente 
	igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de 
	Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones 
	de Lorem Ipsum.</p>
	
	<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto 
	de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) 
	desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo 
	sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente 
	igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de 
	Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones 
	de Lorem Ipsum.</p>
	</div>
</div>
</div>