<div ng-controller="VentaListController as vm">
	<h1 id="tituloSecundario">Lista de ventas</h1>
				
  	<div  class="row">
		<div ng-repeat="venta in vm.ventas">
			<div class="col-sm-6 col-md-4">
      			<div class="thumbnail">
      				<div class="caption">
         				<h3>{{venta.nombre}}</h3>
         				<p>Codigo identificatorio: {{venta.id}}</p>
         				<p>
            				<a href="/#/venta/{{venta.id}}" class="btn btn-primary" role="button">Visualizar</a> 
            				<a ng-click="vm.deleteVenta(venta)" class="btn btn-default" role="button">
            					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Borrar
           			 		</a>
         				</p>
      				</div>
      			</div>
   			</div>
		</div>
	</div>	
	
</div>
</div>